.search {
  margin-right: 12px;
  margin-top: 10px;

}
.navbar {
  border-bottom: 2px solid #242424;
}
.card {
  margin: 10px;
  width: 20rem;
}
.task-heading
{
  display: block;
  font-size: 28px;
  font-weight: 700;
  margin-top: 3%;
  padding-left: 12%;
 
}
.container {
  padding-left: 5%;
  padding-top: 0%;
  padding-bottom: 5%;
  margin: 1%;
  
}
.font-medium{
  /* background-color: transparent; */
  margin-top: 10px;
  font-size: 15px;

}
.nav{
  font-size: medium;
}
